# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

**/staticresources/**
.localdevserver
.sfdx
.sf
.vscode

coverage/

# Documentation and legal files
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
how_to_license.md
LICENSE.txt